body {
    font-family: Cambria, sans-serif;
}


.notification {
    position: relative;
}
.notification .notification-content {
    display: none;
    position: fixed;
    text-align: center;
    background-color: chartreuse;
    /* width: 240px; */
    height: 40px;
    line-height: 40px;
    z-index: 9999999;
    transition: all 2s linear;
    color: white;
}

.user-manager {
    display: none;
}

.order-manager {
    display: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;   
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
#btnn {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 5px;
}
#btnn:hover {
    color: lawngreen;
}
#buton {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 5px;
}
#buton:hover {
    color: lawngreen;
}



